<header class="site-header">
    <nav class="site-nav">
        <div class="nav-left">
            <div class="logo">
                <a ><svg icon="logo" color="white" width="101" height="40" class="logo"></svg></a>
            </div>


            <div class="product">
                <div class="nav-tab">
                    <p>Product</p>
                    <svg icon="arrow-light" width="10" height="7"></svg>
                </div>
            </div>

            <div class="company">
                <div class="nav-tab">
                    <p>Company</p>
                    <svg icon="arrow-light" width="10" height="7"></svg>
                </div>
            </div>

            <div class="connect">
                <div class="nav-tab">
                    <p>Connect</p>
                    <svg icon="arrow-light" width="10" height="7"></svg>
                </div>
            </div>
        </div>

        <div class="nav-right">
            <div class="login"><a>Login</a></div>
            <button class="sign-btn">Sign Up</button>
        </div>
    </nav>
    <div class="center-item">
        <h1>A modern publishing platform</h1>
        <p>Grow your audience and build your online brand</p>
        <div class="center-btn">
            <button class="sfr-btn">Start for Free</button>
            <button class="lm-btn">Learn More</button>
        </div>
    </div>
</header>