.site-header{
    background-image: url('/images/bg-pattern-intro-desktop.svg'), linear-gradient(to right, var(--very-light-red), var(--light-red));;
    background-position: 25% 50%;
    background-repeat: no-repeat;
    background-size: auto;
    border-bottom-left-radius: 80px;

    padding: 64px 160px 64px 160px;
}

.site-header a, p, button, h1 , p{
    font-family: 'Overpass', sans-serif;
}

.site-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    color: var(--white);
}

.nav-menu{
    width: 40%;
    display: flex;
    gap: 0.3rem;
}

.nav-right{
    display: flex;
    gap: 20px;
    color: var(--white);
}

.nav-tab{
    display: flex;
    align-items: center;
    gap: 4px;
}

.nav-tab:hover{
    cursor: pointer;
    text-decoration: underline;
}

.logo,
.login{
    display: flex;
    align-items: center;
}

.login:hover{
    cursor: pointer;
    text-decoration: underline;
}

.sign-btn,
.sfr-btn{
    border-radius: 30px;
    padding: 10px 24px;
    font-weight: 600;
    transition: 0.5s;
    background-color: var(--white);
    color: var(--very-light-red-cta);
    border: none;
}

.sign-btn:hover,
.sfr-btn:hover{
        cursor: pointer;
        background-color: var(--very-light-red-cta);
        color: var(--white);
}

.lm-btn{
    border-radius: 30px;
    padding: 10px 24px;
    font-weight: 600;
    transition: 0.5s;
    background-color: var(--light-red-cta);
    color: var(--white);
    border: 1px solid white;
}

.lm-btn:hover{
    cursor: pointer;
    background-color: var(--white);
    color: var(--very-light-red-cta);
}

.center-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
    gap: 10px;
}

.center-btn{
    display: flex;
    margin-top: 24px;
    gap: 15px;
}

.center-item h1{
    color: var(--white);
    margin: 0;
    font-size: 48px;
}

.center-item p{
    color: var(--white);
}







// .header__sign-up-button,
// .header__start-button,
// .header__learn-button {
//     border-radius: 1.5rem;
//     padding: 0.6rem 1.5rem;
//     font-family: "Overpass", sans-serif;
//     font-weight: 600;
//     transition: 0.5s;
// }

// .header__sign-up-button {
//     background-color: var(--white);
//     color: var(--very-light-red-cta);
//     border: none;
// }

// .header__sign-up-button:hover {
//     cursor: pointer;
//     background-color: var(--very-light-red-cta);
//     color: var(--white);
// }
