<header class="site-header">
    <nav class="site-nav">
        <div class="nav-left">

            <a ><svg icon="logo" color="white" width="101" height="40" class="logo"></svg></a>

            <div class="product">
                <div class="product-tab">
                    <p>Product</p>
                    <svg icon="arrow-light" width="10" height="7"></svg>
                </div>
            </div>

            <div class="company">
                <div class="company-tab">
                    <p>Company</p>
                    <svg icon="arrow-light" width="10" height="7"></svg>
                </div>
            </div>

            <div class="connect">
                <div class="connect-tab">
                    <p>Connect</p>
                    <svg icon="arrow-light" width="10" height="7"></svg>
                </div>
            </div>
        </div>

        <div class="nav-right">
            <a>Login</a>
            <button class="sign-btn">Sign Up</button>
        </div>
    </nav>
</header>